{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block css %}
<style>
.main {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url('{% static "/images/login_bg.jpg" %}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-card {
  background-color: transparent;
  backdrop-filter: blur(8px);
  color:white;
  padding: 1rem 1rem;
}

</style>
{% endblock css %}

{% block content %}
<div class="d-flex align-items-center h-100 main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card user-card">
          <div class="card-header d-flex justify-content-between">
            <h4><i class="fas fa-user"></i> Login</h4>
            <a type="button" class="btn btn-secondary" href="{% url 'home' %}">
              <i class="fas fa-arrow-left"></i> Go Back
            </a>
          </div>
          <div class="card-body">
            <form method="POST" class="d-flex flex-column">
              {% csrf_token %}
              <div class="form-group mt-3">
                <label for="username"><i class="fas fa-at"></i> Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
              </div>
              <div class="form-group mt-3">
                <label for="password"><i class="fas fa-lock"></i> Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-success btn-block mt-4 rounded-pill"><i class="fas fa-sign-in-alt"></i> Login</button>
            </form>
            <br>
            <center>
              <span>Don't have an account? <a href="{% url 'register' %}">Register here!</a></span>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
